@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  background-color: rgb(255, 242, 231);
  color: rgb(57, 57, 57);
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
